.painel-estatisticas {
  grid-area: estatisticas;
}

#graficoDesempenho {
  max-width: 250px;
  margin: 20px auto;
}

.btn-numero {
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 6px;
  background: #ecf0f3;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
}

.btn-numero:hover {
  background: #4a6cf7;
  color: white;
}

.questao-atual {
  background: #4a6cf7;
  color: white;
}

.questao-acerto {
  background: #2ecc71 !important;
  color: white;
}

.questao-erro {
  background: #e74c3c !important;
  color: white;
}
.painel-navegacao {
  position: sticky;
  top: 100px;
}
