body {
  margin: 0;
  background: #f5f7fb;
}

.logo-topo img {
  width: 100%;
  max-width: 300px;
  height: auto;
}
.imagem-site {

display: flex;
justify-content: flex-start;
 max-width: 1200px;
width: 100%;}


.container-conteudo {
  display: flex;
  flex-direction: column;

  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  gap: 20px;
}
/* ORGANIZA TUDO EM COLUNA */
.h1-formatacao {
  display: block;
  margin-bottom: 20px;
}

/* CONTEÚDO INTERNO */
.conteudo-principal {
  display: none;
  flex-direction: column;
  margin-top: 10px;
}

/* QUANDO ABRIR */
.conteudo-principal.ativo {
  display: flex;
}

/* LISTA DE CARDS (CORRIGIDO - AGORA EM COLUNA) */
.conteudo-fonologia {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* CADA CARD */
.card-generico {
  width: 100%;
  display: block;
  background: #fff;
  padding: 15px;
  border-radius: 12px;
  border: 1px solid var(--cor-borda);
  transition: 0.3s;
}

.card-generico:hover {
  transform: translateY(-4px);
}

/* TOPO */
.titulo-sub-titulo {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid var(--cor-borda);
  padding: 25px;
  margin-bottom: 20px;
  border-radius: 16px;
}

/* TITULOS */
.titulo h1 {
  font-size: 32px;
  font-weight: 700;
 
}

.sub-titulo h3 {
  color: #666;
  font-weight: 400;
}

/* CAIXA TEXTO */
.caixa {
  border: 1px solid var(--cor-borda);
  padding: 20px;
  border-radius: 16px;
  margin-top: 20px;
  text-align: justify;
  max-width: 900px;
}

/* SEÇÕES */
.h1-formatacao {
  border: 1px solid var(--cor-borda);
  padding: 20px;
  border-radius: 16px;
  margin-top: 20px;
  background-color: #fff;
}

/* BOTÃO PRINCIPAL */
.toggle-principal {
  width: 100%;
  padding: 15px 20px;
  border: none;
  border-radius: 10px;
  background: var(--cor-primaria);
  color: white;
  font-size: 20px;
  font-weight: 600;

  display: flex;
  justify-content: space-between;
  align-items: center;

  cursor: pointer;
  transition: 0.3s;
}

.toggle-principal:hover {
  background: var(--cor-hover);
}

/* BOTÃO INTERNO */
.toggle-conteudo {
  width: 100%;
  padding: 10px;
  border: none;
  background: #f0f4ff;
  border-radius: 8px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  cursor: pointer;
  font-weight: 600;
}

/* LISTA */
ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 8px;
}

/* LINKS */
.formatacao-portugues {
  display: block;
  padding: 8px;
  border-radius: 6px;
  color: #333;
  transition: 0.2s;
}

.formatacao-portugues:hover {
  background: #e0e7ff;

}

/* ESCONDIDO */
.conteudo-escondido {
  display: none;
  margin-top: 10px;
}

.conteudo-escondido.ativo {
  display: block;
}