main {
  max-width: 1300px;
  margin: 10px auto;
  padding: 20px;
}

.container {
  max-width: 1300px;
  margin: 30px auto;
  padding: 20px;

  display: grid;
  grid-template-columns: 260px 720px 220px;
  gap: 30px;

  justify-content: center;
}
body.menu-aberto {
  overflow: hidden;
}

/* --- Footer --- */

.site-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #4a6cf7;
  color: #fff;
  padding: 50px;
  flex-wrap: wrap;
  gap: 20px;
  font-family: Arial, sans-serif;
}

.footer-logo img {
  width: 150px;
  height: auto;
  margin-bottom: 20px;
}

.redes a {
  color: #fff;
  font-size: 24px;
  margin: 0 10px;
}

.redes a:hover {
  color: #00aaff;
}

.footer-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.footer-right h3 {
  margin-bottom: 10px;
}

.footer-right p {
  line-height: 1.5;
  border: 1px solid #ffffff50;
  text-align: justify;
  max-width: 350px;
  padding: 10px;
  border-radius: 10px;
}

.painel-navegacao {
  position: sticky;
  top: 100px;
}

/* --- Responsividade --- */

@media screen and (max-width: 768px) {
  .site-footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-left,
  .footer-right {
    max-width: 500px;
  }
}
@media (max-width: 900px) {
  .container {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 1100px) {
  .container {
    grid-template-columns: 1fr;
  }

  .painel-navegacao {
    order: 3;
  }

  .painel-filtros {
    order: 1;
  }

  .area-questao {
    order: 2;
  }
}
