.topo {
  display: flex;
  align-items: center;

  background: #07559b;
  color: #ffffff;

  padding: 14px;

  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.topo h1 {
  font-size: 20px;
}

/* MENU */

.menu {
  position: fixed;

  top: 0;
  left: -280px;

  width: 280px;
  height: 100%;

  background: #ffffff;

  box-shadow: 2px 0 20px rgba(0, 0, 0, 0.2);

  transition: left 0.35s cubic-bezier(0.25, 0.8, 0.25, 1);

  z-index: 1000;

  overflow-y: auto;
}

/* HAMBURGER */

.hamburger {
  width: 24px;
  height: 18px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hamburger span {
  display: block;

  height: 3px;
  width: 100%;

  background: #ffffff;

  border-radius: 2px;

  transition: 0.3s;
}

/* ANIMAÇÃO PARA X */

.hamburger.ativo span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.ativo span:nth-child(2) {
  opacity: 0;
}

.hamburger.ativo span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

/* HEADER MENU */

.menu-top {
  background: #4a6cf7;

  color: #ffffff;

  text-align: center;

  padding: 25px;
}

.avatar {
  font-size: 40px;
}

/* LISTA */

.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-list li {
  border-bottom: 1px solid #eee;
}

.menu-list a,
.submenu button {
  display: flex;
  align-items: center;

  gap: 10px;

  width: 100%;

  padding: 14px;

  text-decoration: none;

  color: #000000;

  font-size: 15px;

  background: none;
  border: none;

  cursor: pointer;
}

/* SUBMENU */

.submenu-list {
  max-height: 0;

  overflow: hidden;
  list-style: none;
  transition: max-height 0.4s ease;

  padding-left: 0px;
}

.submenu-list li {
  padding: 10px;

  border-bottom: 1px solid #eee;
}

.submenu.ativo .submenu-list {
  max-height: 600px;
}

/* OVERLAY */

#overlay {
  position: fixed;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.4);

  display: none;

  z-index: 900;
}

/* CONTEUDO */

main {
  margin-top: 10px;
  padding: 20px;
}

/* FOOTER */

.footer {
  background: #4a6cf7;

  color: #ffffff;

  text-align: center;

  padding: 25px;

  margin-top: 40px;
}

.redes a {
  color: #ffffff;

  font-size: 24px;

  margin: 0 10px;

  transition: 0.2s;
}

.menu-btn:hover {
  opacity: 0.8;
}

.redes a:hover {
  opacity: 0.7;
}

button {
  -webkit-tap-highlight-color: transparent;
}

.menu-list a:hover,
.submenu button:hover {
  background: #ffffff;
}

.menu-btn {
  background: none;
  border: none;

  font-size: 22px;

  color: #ffffff;

  cursor: pointer;

  margin-right: 10px;

  outline: none;
}

/* remover hover vermelho */

.menu-btn:hover {
  background: none;
  color: #ffffff;
}

.menu-btn:focus {
  outline: none;
  background: none;
}

.menu-btn:active {
  background: none;
  color: #ffffff;
}

/* remover cores padrão dos links */

.menu-list a,
.submenu-list a {
  color: #000000;
  text-decoration: none;
}

/* quando link já foi visitado */

.menu-list a:visited,
.submenu-list a:visited {
  color: #000;
}

/* quando clicar */

.menu-list a:active,
.submenu-list a:active {
  background: #ffffff;
  color: #07559b;
}

/* quando focado */

.menu-list a:focus,
.submenu-list a:focus {
  outline: none;
  background: #e6f0ff;
}

/* hover suave */

.menu-list a:hover,
.submenu-list a:hover {
  background: #e6f0ff;
}

/* itens do menu */

.menu-list a,
.submenu button,
.submenu-list a {
  color: #000;
  background: none;
}

/* hover */

.menu-list a:hover,
.submenu button:hover,
.submenu-list a:hover {
  background: #e6f0ff;
  color: #07559b;
}

/* clique */

.menu-list a:active,
.submenu button:active,
.submenu-list a:active {
  background: #d6e6ff;
  color: #07559b;
}

/* foco */

.menu-list a:focus,
.submenu button:focus,
.submenu-list a:focus {
  outline: none;
  background: #e6f0ff;
}

/* remover highlight vermelho do mobile */

* {
  -webkit-tap-highlight-color: transparent;
}

button:focus,
button:active,
a:focus,
a:active {
  outline: none;
  box-shadow: none;
}

/* MENU DE CATEGORIAS */

.menu-categorias {
  display: flex;

  gap: 20px;

  padding: 20px;

  background: #ffffff;

  overflow-x: auto;

  white-space: nowrap;

  border-bottom: 1px solid #ddd;
}

/* esconder barra */

.menu-categorias::-webkit-scrollbar {
  display: none;
}

/* links */

.menu-categorias a {
  flex: 0 0 auto;

  text-decoration: none;

  color: #07559b;

  font-weight: 600;

  font-size: 14px;

  padding-bottom: 6px;
}

/* hover */

.menu-categorias a:hover {
  border-bottom: 3px solid #07559b;
}

@media (max-width: 768px) {
  main {
    padding: 0;
  }

  .banner {
    margin: 5px;
    border-radius: 10px;
  }
}

/* SEÇÕES DE CARREIRAS */

.secao-carreiras {
  max-width: 1300px;
  margin: 20px auto;
  padding: 5px;
}

.card-carreira {
  background: #fff;

  border-radius: 12px;

  overflow: hidden;

  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);

  margin-bottom: 25px;
}

/* imagem */

.card-carreira img {
  width: 100%;

  height: auto;

  display: block;
}

/* texto */

.carreira-texto {
  padding: 15px;
}

.carreira-texto h2 {
  margin: 0;

  color: #07559b;

  font-size: 20px;
}

.carreira-texto h3 {
  margin: 6px 0;

  font-size: 15px;

  color: #444;

  font-weight: 600;
}

.carreira-texto p {
  font-size: 14px;

  color: #555;

  line-height: 1.5;
}

/* formatacao da pagina de questoes*/

.container {
  max-width: 700px;

  margin: auto;

  padding: 20px;
}

.pergunta {
  font-size: 20px;

  margin-bottom: 20px;
}

.alternativa {
  display: block;

  padding: 12px;

  margin-bottom: 10px;

  border: 1px solid #ddd;

  border-radius: 8px;

  cursor: pointer;
}

.alternativa:hover {
  background: #f0f6ff;
}

.botao {
  background: #07559b;

  color: white;

  border: none;

  padding: 12px;

  width: 100%;

  border-radius: 8px;

  font-size: 16px;

  margin-top: 20px;

  cursor: pointer;
}

.resultado {
  margin-top: 20px;

  font-weight: bold;
}
#graficoDesempenho {
  max-width: 300px;

  margin: 30px auto;

  display: block;
}

/* impedir rolagem da página quando menu estiver aberto */

body.menu-aberto {
  overflow: hidden;
}

/* melhorar scroll no celular */

.menu {
  -webkit-overflow-scrolling: touch;
}

/* impedir efeito de arrastar fora do menu */

.menu-list {
  overscroll-behavior: contain;
}

.seta {
  margin-left: auto;
  transition: transform 0.3s ease;
}

.submenu.ativo .seta {
  transform: rotate(180deg);
}

.submenu.ativo .seta {
  transform: rotate(180deg);
}

.filtros {
  background: white;

  padding: 20px;

  margin: 20px auto;

  max-width: 700px;

  border-radius: 10px;

  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.filtros select {
  width: 100%;

  padding: 10px;

  margin-bottom: 10px;

  border-radius: 6px;

  border: 1px solid #ccc;
}

.filtros button {
  background: #0b4db3;

  color: white;

  border: none;

  padding: 10px;

  width: 100%;

  border-radius: 6px;

  cursor: pointer;
}

.contador {
  font-weight: bold;
  margin-bottom: 15px;
  color: #555;
}

.navegacao {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 10px;
}

.navegacao-questoes {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.btn-numero {
  padding: 6px 10px;
  border: none;
  background: #eee;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}

.btn-numero:hover {
  background: #007bff;
  color: white;
}

.questao-acerto {
  background: #2ecc71;
  color: white;
}

.questao-erro {
  background: #e74c3c;
  color: white;
}
section.painel-filtros {
  padding: 20px;
}

/* FUNDO GERAL */

body {
  background: white;

  font-family: "Segoe UI", Arial, sans-serif;

  color: #2c3e50;

  margin: 0;
}

/* CONTAINER PRINCIPAL */

.container {
  max-width: 1300px;

  margin: auto;

  padding: 20px;

  display: grid;

  grid-template-columns: 2fr 1fr;

  grid-template-areas:
    "filtros estatisticas"
    "questao estatisticas"
    "navegacao estatisticas";

  gap: 20px;
}

.painel-filtros {
  grid-area: filtros;
}

.area-questao {
  grid-area: questao;
}

.painel-navegacao {
  grid-area: navegacao;
}

.painel-estatisticas {
  grid-area: estatisticas;
}

@media (max-width: 900px) {
  .container {
    grid-template-columns: 1fr;

    grid-template-areas:
      "filtros"
      "questao"
      "navegacao"
      "estatisticas";
  }
}

/* CARDS */

.area-questao,
.painel-estatisticas,
.painel-navegacao,
.painel-filtros {
  background: #ffffff;

  padding: 20px;

  border-radius: 12px;

  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.06);
}

/* TITULOS */

h3 {
  margin-top: 0;

  color: #4a6cf7;

  font-weight: 600;
}

/* PERGUNTA */

.pergunta {
  font-size: 22px;

  font-weight: 600;

  margin-bottom: 20px;
}

/* ALTERNATIVAS */

.alternativa {
  background: #f8f9fb;

  padding: 14px;

  border-radius: 8px;

  margin-bottom: 10px;

  border: 1px solid transparent;

  cursor: pointer;

  transition: 0.2s;
}

.alternativa:hover {
  border: 1px solid #4a6cf7;

  background: #eef2ff;
}

/* BOTÕES */

.botao {
  background: #4a6cf7;

  color: white;

  border: none;

  padding: 12px 18px;

  border-radius: 8px;

  cursor: pointer;

  font-weight: 600;

  transition: 0.2s;
}

.botao:hover {
  background: #3556e8;
}

/* BOTÃO FAVORITO */

.btn-favoritar {
  background: #fff;

  border: 1px solid #ddd;

  padding: 8px 14px;

  border-radius: 6px;

  cursor: pointer;

  margin-bottom: 15px;
}

/* NAVEGAÇÃO QUESTÕES */

.navegacao-questoes {
  display: flex;

  flex-wrap: wrap;

  gap: 6px;

  margin-top: 10px;
}

/* BOTÃO NUMERO */

.btn-numero {
  width: 35px;

  height: 35px;

  border: none;

  border-radius: 6px;

  background: #ecf0f3;

  cursor: pointer;

  font-weight: bold;
}

.btn-numero:hover {
  background: #4a6cf7;

  color: white;
}

/* QUESTÃO ACERTO */

.questao-acerto {
  background: #2ecc71 !important;

  color: white;
}

/* QUESTÃO ERRO */

.questao-erro {
  background: #e74c3c !important;

  color: white;
}

/* FILTROS */

.grupo-filtros {
  display: flex;

  flex-wrap: wrap;

  gap: 10px;

  margin-top: 10px;
}

select {
  padding: 8px;

  border-radius: 6px;

  border: 1px solid #ddd;
}

/* RESULTADO */

.resultado {
  font-size: 18px;

  font-weight: 600;

  margin-top: 15px;
}

/* ESTATISTICAS */

#estatisticas {
  margin-top: 15px;

  font-size: 15px;
}

/* CONTADOR */

.contador {
  font-weight: bold;

  margin-bottom: 10px;
}

/* RESPONSIVO */

@media (max-width: 900px) {
  .container {
    grid-template-columns: 1fr;
  }

  .pergunta {
    font-size: 18px;
  }

  .botao {
    width: 100%;

    margin-top: 10px;
  }
}

.barra-busca input {
  border: none;

  padding: 10px 15px;

  outline: none;

  width: 220px;
}

.barra-busca button {
  background: #4a6cf7;

  border: none;

  color: white;

  padding: 10px 15px;

  cursor: pointer;
}

.topo {
  display: flex;

  align-items: center;

  gap: 20px;

  padding: 10px 20px;

  background: #4a6cf7;

  color: white;
}

.barra-busca {
  display: flex;

  align-items: center;

  margin-left: auto;

  background: white;

  border-radius: 30px;

  overflow: hidden;
}

.barra-busca input {
  border: none;

  outline: none;

  padding: 10px 15px;

  width: 260px;
}

.barra-busca button {
  background: #4a6cf7;

  border: none;

  color: white;

  padding: 10px 15px;

  cursor: pointer;
}

@media (max-width: 700px) {
  .barra-busca input {
    width: 140px;
  }
}
